@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    overflow-x: hidden;
    background: black;
    font-family: 'Montserrat', sans-serif;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #22d3ee #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #22d3ee;
    border-radius: 10px;
    border: 4px solid #000000;
  }